@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    width: 100%;
    padding: 2rem;
    background-color: #23232C;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 3px solid #57575f;
}

.nav {
    display: flex;
    align-items: center;
    
}

.headerLogo {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
}

.headerUL {
    display: flex;
    margin-left: auto;
    column-gap: 2rem;
}

.headerButtonLogin,
.headerButtonSignUp,
.headerButtonLogout {
    color: rgb(180, 180, 180);
    background-color: #121212;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 3px #808080 solid;
    padding: 0.7rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.headerButtonLogin:hover,
.headerButtonSignUp:hover,
.headerButtonLogout:hover {
    background-color: rgb(0, 100, 139);
    color: rgb(0, 247, 255);
    border: 3px solid rgb(0, 247, 255);
}

.main {
    background-color: #121212;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm,
.signUpForm {
    background-color: #F9FAFB;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 1rem;
}

.login,
.signUp {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: -0.5rem;
}

.loginInput,
.signUpInput {
    width: 100%;
    height: 3rem;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 0.6rem;
    margin-top: 0.5rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

.loginButton,
.signUpButton {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
}

.loginButton:hover,
.signUpButton:hover {
    color: white;
    background-color: rgb(0, 100, 139);
}

.loginLabel,
.signUpLabel {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.noAccount {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.signUpLink {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 119, 167);
    text-decoration: none;
    margin-left: 0.3rem;
}

.signUpErrorText,
.loginErrorText,
.newFolderErrorText,
.newFileErrorText {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: red;
    margin-bottom: -0.7rem;
}

.sidebar {
    background-color: #23232C;
    display: flex;
    flex-direction: column;
    width: 15%;
    min-height: 84vh;
    padding: 1rem;
    padding-left: 1.5rem;
    row-gap: 1rem;
    border-right: 3px solid #57575f;
}

.newFolder,
.newFile,
.home {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    background-color: #1A1A1E;
    border: rgb(63, 65, 71) 3px solid;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem;
    padding-left: 0.5rem;
    column-gap: 0.6rem;
    align-items: center;
    border-radius: 0.4rem;
    text-decoration: none;
}

.newFolder:hover,
.newFile:hover,
.home:hover {
    background-color: rgb(0, 100, 139);
    color: rgb(0, 247, 255);
    border: 3px solid rgb(0, 247, 255);
}

.newFileIcon,
.newFolderIcon {
    height: 30px;
}

.homeIcon {
    height: 25px;
}

.mainLayout {
    display: flex;
}

.dashboard {
    background-color: #23232C;
    width: 85%;
    padding: 3rem;
    padding-top: 1.6rem;
}

.currentUser {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    column-gap: 0.5rem;
    color: rgb(180, 180, 180);
    background-color: #121212;
    border-radius: 0.5rem;
    border: 3px #808080 solid;
    padding-left: 0.6rem;
    padding-right: 0.7rem;
}

.userIcon {
    height: 35px;
}

.gridHeader {
    display: flex;
    margin-bottom: 1rem;
}

.gridHeaderSize {
    width: 20%;
}

.gridHeaderCreated {
    margin-left: 2rem;
    width: 17%;
}

.gridHeaderName {
    width: 60%;
    padding-left: 0.9rem;
}

.gridHeaderName,
.gridHeaderSize,
.gridHeaderCreated {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.grid {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    overflow-y: scroll;
    height: 73.2vh;
}

.gridItem {
    display: flex;
    padding: 0.6rem;
    background-color: #1A1A1E;
    border: rgb(63, 65, 71) 3px solid;
    border-radius: 0.5rem;
    text-decoration: none;
    width: 90%;
}

.gridItem:hover {
    background-color: rgb(0, 100, 139);
    border: 3px solid rgb(0, 247, 255);
}

.fileName,
.folderName {
    width: 50%;
    color: #d3d3d3;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.fileSize,
.folderSize {
    width: 20%;
    color: #d3d3d3;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
}

.fileCreatedAt,
.folderCreatedAt {
    width: 20%;
    color: #d3d3d3;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
}

.fileNameIcon,
.folderNameIcon {
    height: 25px;
}

.newFolderPopUp,
.newFilePopUp {
    position: absolute;
    width: 100%;
    min-height: 102.4vh;
    top: 0%;
    background-color: #000000bd;
    display: none;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
}

.newFolderForm,
.newFileForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #23232C;
    padding: 2rem;
    row-gap: 0.7rem;
    color: rgb(180, 180, 180);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.newFolderInput {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 2.5rem;
    outline: 3px #909db9 solid;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-top: -0.3rem;
}

.newFolderButton,
.newFileButton {
    color: black;
    background-color: hsl(198.7 97.9% 57.2%);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 3px black solid;
    padding: 0.7rem;
    border-radius: 0.5rem;
    width: 25%;
    margin-top: 1rem;
}

.newFolderButton:hover,
.newFileButton:hover {
    background-color: rgb(0, 100, 139);
    color: rgb(0, 247, 255);
    border: 3px solid rgb(0, 247, 255);
}

.newFolderFormH3,
.newFileFormH3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
}

.buttonDiv {
    display: flex;
    justify-content: flex-end;
}

.xIcon,
.newFileXIcon {
    height: 50px;
    width: 60px;
    padding: 1rem;
}

.newFolderFormHeader,
.newFileFormHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}

.newFileInputLabel {
    color: rgb(180, 180, 180);
    background-color: #121212;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 3px #808080 solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 27%;
    padding-left: 0.7rem;
}

.newFileInputLabel:hover {
    background-color: rgb(0, 100, 139);
    color: rgb(0, 247, 255);
    border: 3px solid rgb(0, 247, 255);
}

.fileNameContainer {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.fileInfoContainer  {
    background-color: #23232C;
    width: 85%;
    padding: 3rem;
    padding-top: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}

.fileInfo {
    color: #a1a1a1;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
}

.editAndDelete {
    display: flex;
    align-items: center;
}

.gridItemContainer {
    display: flex;
    column-gap: 1rem;
}